<div class="container" *ngIf="currentLabeledSentence">
  <h2 class="text-center">
    {{ i }}
  </h2>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <button class="btn btn-sm btn-warning" (click)="label('PRO')">
        Produkt
      </button>
      <span class="px-2"></span>
      <button class="btn btn-sm btn-success" (click)="label('CAP')">
        Fähigkeit
      </button>
      <span class="px-2"></span>
      <button class="btn btn-sm btn-light" (click)="label('O')">Anderes</button>
      <br />
      <br />
      <button
        class="btn btn-sm btn-secondary"
        (click)="this.selectionStart = null; this.selectionEnd = null"
      >
        Zurücksetzen
      </button>
      <br />
    </div>
  </div>
  <div class="row">
    <div
      class="col-auto my-2"
      (click)="toggleSelection(i)"
      *ngFor="let word of currentLabeledSentence.words; let i = index"
      style="cursor: pointer"
    >
      <div [ngClass]="{ 'bg-primary': isInRange(i) }">
        {{ word }}
      </div>
      <div>
        <span
          class="badge rounded-pill"
          [ngClass]="{
            'bg-warning': currentLabeledSentence.labels[i].includes('PRO'),
            'bg-success': currentLabeledSentence.labels[i].includes('CAP'),
            'bg-light text-dark': currentLabeledSentence.labels[i] === 'O'
          }"
          >{{ currentLabeledSentence.labels[i] }}</span
        >
      </div>
    </div>
  </div>

  <br />
  <div class="text-center">
    <button
      class="btn btn-sm btn-danger"
      (click)="deleteSentence(currentSentenceDoc)"
    >
      Löschen
    </button>
    <span class="px-2"></span>
    <button class="btn btn-sm btn-primary" (click)="addLabeledSentence()">
      Speichern
    </button>
  </div>
</div>
