<nav class="navbar fixed-top navbar-light bg-light">
  <div class="row mb-3 justify-content-center w-100">
    <div class="col-12">
      <h2 class="text-center">
        {{ i }}
      </h2>
    </div>
    <div class="col-12 text-center">
      <button class="btn btn-sm btn-warning" (click)="label('PRO')">
        Produkt
      </button>
      <span class="px-2"></span>
      <button class="btn btn-sm btn-success" (click)="label('SKILL')">
        Fähigkeit
      </button>
      <span class="px-2"></span>
      <button class="btn btn-sm btn-light" (click)="label('O')">Anderes</button>
      <br />
      <br />
      <button
        class="btn btn-sm btn-secondary"
        (click)="this.selectionStart = null; this.selectionEnd = null"
      >
        Zurücksetzen
      </button>
      <br />
    </div>
  </div>
</nav>

<div class="container" *ngIf="currentCompany" style="margin-top: 190px">
  <div
    class="row"
    *ngFor="let labeledSentence of currentCompany.sentences; let i = index"
    style="cursor: pointer"
  >
    <div
      class="col-auto my-2"
      *ngFor="let word of labeledSentence.words; let j = index"
      (click)="toggleSelection(i, j)"
    >
      <div [ngClass]="{ 'bg-primary': isInRange(i, j) }">
        {{ word }}
      </div>
      <div>
        <span
          class="badge rounded-pill"
          [ngClass]="{
            'bg-warning': labeledSentence.labels[j].includes('PRO'),
            'bg-success': labeledSentence.labels[j].includes('SKILL'),
            'bg-light text-dark': labeledSentence.labels[j] === 'O'
          }"
          >{{ labeledSentence.labels[j] }}</span
        >
      </div>
    </div>
  </div>

  <br />
  <div class="text-center mb-5">
    <button class="btn btn btn-primary" (click)="save()">Speichern</button>
  </div>
</div>
