<div class="container mt-5" *ngIf="currentLabeledSentence">
  <h2 class="text-center">
    {{ i }}
  </h2>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <span class="me-3"> <strong>p</strong> drücken für Produkt </span>
      <span class="me-3"> <strong>c</strong> drücken für Fähigkeit </span>
      <span class="me-3"> <strong>o</strong> drücken für Anderes </span>
      <br />
      <span class="me-3">
        <strong>Escape</strong> drücken um Auswahl zurücksetzen
      </span>
      <span class="me-3"> <strong>Enter</strong> drücken um Speichern </span>
      <br />
      <span class="me-3">
        <strong>d</strong> drücken zum Löschen des Satzes
      </span>
    </div>
  </div>
  <div class="row">
    <div
      class="col-auto my-2"
      (click)="toggleSelection(i)"
      *ngFor="let word of currentLabeledSentence.words; let i = index"
    >
      <div [ngClass]="{ 'bg-primary': isInRange(i) }">
        {{ word }}
      </div>
      <div>
        <span
          class="badge rounded-pill"
          [ngClass]="{
            'bg-warning': currentLabeledSentence.labels[i].includes('PRO'),
            'bg-success': currentLabeledSentence.labels[i].includes('CAP'),
            'bg-light text-dark': currentLabeledSentence.labels[i] === 'O'
          }"
          >{{ currentLabeledSentence.labels[i] }}</span
        >
      </div>
    </div>
  </div>
</div>
